In [1]:
import pandas as pd
import numpy as np

In [2]:
busdata = pd.read_csv("APIData.csv", low_memory=False)
pd.options.display.max_columns = None
busdata.head()

,Site,Operator,LineRef,DepotCode,LocationCode,LocationName,ScheduledStartTime,LiveJourneyId,Sequence,RunningBoard,Duty,Direction,JourneyCode,VehicleCode,DriverCode,TimingPoint,JourneyPattern,ArrivalStatus,DepartureStatus,ScheduledArrivalTime,ScheduledDepartureTime,ArrivalTime,DepartureTime,ScheduledHeadway,ActualHeadway,JourneyId,ServiceGroup,NumberStops,StartPoint,EndPoint,Latitude,Longitude,District,JourneyType
0,RTL,RGB,1,RGB,39028150001,Blagrave Street Stop EP,01/01/2018 07:20,4482352.0,1,1A,75709,Inbound,4,1206,677366,TimingPoint,JP2,A,V,01/01/2018 07:20,01/01/2018 07:20,01/01/2018 07:11,01/01/2018 07:20,NaN,NaN,5386133,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.457450,-0.970267,Reading,TT
1,RTL,RGB,1,RGB,39028170004,Friar Street,01/01/2018 07:20,4482352.0,2,1A,75709,Inbound,4,1206,677366,TimingPoint,JP2,V,A,01/01/2018 07:21,01/01/2018 07:21,01/01/2018 07:20,01/01/2018 07:21,NaN,NaN,5386133,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.456718,-0.972960,Reading,TT
2,RTL,RGB,1,RGB,39027320007,St Mary's Butts,01/01/2018 07:20,4482352.0,3,1A,75709,Inbound,4,1206,677366,NonTimingPoint,JP2,V,A,01/01/2018 07:22,01/01/2018 07:22,01/01/2018 07:22,01/01/2018 07:23,NaN,NaN,5386133,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.454010,-0.973827,Reading,TT
3,RTL,RGB,1,RGB,39025430002,Castle Street,01/01/2018 07:20,4482352.0,4,1A,75709,Inbound,4,1206,677366,NonTimingPoint,JP2,V,V,01/01/2018 07:23,01/01/2018 07:23,01/01/2018 07:24,01/01/2018 07:25,NaN,NaN,5386133,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.452498,-0.976740,Reading,TT
4,RTL,RGB,1,RGB,39027180001,Russell Street (Bath Road),01/01/2018 07:20,4482352.0,5,1A,75709,Inbound,4,1206,677366,NonTimingPoint,JP2,V,V,01/01/2018 07:24,01/01/2018 07:24,01/01/2018 07:26,01/01/2018 07:27,NaN,NaN,5386133,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.450775,-0.983340,NaN,TT

In [3]:
busdata.tail()

,Site,Operator,LineRef,DepotCode,LocationCode,LocationName,ScheduledStartTime,LiveJourneyId,Sequence,RunningBoard,Duty,Direction,JourneyCode,VehicleCode,DriverCode,TimingPoint,JourneyPattern,ArrivalStatus,DepartureStatus,ScheduledArrivalTime,ScheduledDepartureTime,ArrivalTime,DepartureTime,ScheduledHeadway,ActualHeadway,JourneyId,ServiceGroup,NumberStops,StartPoint,EndPoint,Latitude,Longitude,District,JourneyType
3686079,RTL,RGB,26,RGB,30054700001,Pemberton Gardens,2018-05-31 23:50:00,5031796.0,26,26I,1405,Outbound,183,773,UNK,NonTimingPoint,JP878,X,P,2018-06-01 00:09:30,2018-06-01 00:09:30,2018-06-01 00:12:06,2018-06-01 00:12:06,NaN,NaN,5968838,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.440653,-1.044642,Reading,TT
3686080,RTL,RGB,26,RGB,30050400001,Beansheaf Stores,2018-05-31 23:50:00,5031796.0,27,26I,1405,Outbound,183,773,UNK,NonTimingPoint,JP878,X,P,2018-06-01 00:10:00,2018-06-01 00:10:00,2018-06-01 00:12:36,2018-06-01 00:12:36,NaN,NaN,5968838,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.440363,-1.047670,Reading,TT
3686081,RTL,RGB,26,RGB,30056320002,Torcross Grove,2018-05-31 23:50:00,5031796.0,28,26I,1405,Outbound,183,773,UNK,NonTimingPoint,JP878,X,P,2018-06-01 00:10:30,2018-06-01 00:10:30,2018-06-01 00:13:13,2018-06-01 00:13:13,NaN,NaN,5968838,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.439408,-1.052883,Reading,TT
3686082,RTL,RGB,26,RGB,30053940001,Mayfield Avenue,2018-05-31 23:50:00,5031796.0,29,26I,1405,Outbound,183,773,UNK,NonTimingPoint,JP878,X,P,2018-06-01 00:11:00,2018-06-01 00:11:00,2018-06-01 00:13:33,2018-06-01 00:13:33,NaN,NaN,5968838,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.440945,-1.057398,Reading,TT
3686083,RTL,RGB,26,RGB,30055200002,"Calcot, Sainsbury's",2018-05-31 23:50:00,5031796.0,30,26I,1405,Outbound,183,NaN,NaN,TimingPoint,JP878,NaN,NaN,2018-06-01 00:12:00,2018-06-01 00:12:00,NaN,NaN,NaN,NaN,5968838,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.441817,-1.060675,Reading,TT

In [4]:
busdata.shape

(3686084, 34)

In [5]:
#Get names of columns
column_names = busdata.columns
print(column_names)

Index(['Site', 'Operator', 'LineRef', 'DepotCode', 'LocationCode',
       'LocationName', 'ScheduledStartTime', 'LiveJourneyId', 'Sequence',
       'RunningBoard', 'Duty', 'Direction', 'JourneyCode', 'VehicleCode',
       'DriverCode', 'TimingPoint', 'JourneyPattern', 'ArrivalStatus',
       'DepartureStatus', 'ScheduledArrivalTime', 'ScheduledDepartureTime',
       'ArrivalTime', 'DepartureTime', 'ScheduledHeadway', 'ActualHeadway',
       'JourneyId', 'ServiceGroup', 'NumberStops', 'StartPoint', 'EndPoint',
       'Latitude', 'Longitude', 'District', 'JourneyType'],
      dtype='object')

In [6]:
# Drop columns listed
to_drop = [column_names[i] for i in [0, 1, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 23, 24, 25, 32, 33]]
busdata.drop(to_drop, inplace=True, axis=1)

In [7]:
busdata.shape

(3686084, 13)

In [8]:
null_columns = busdata.columns[busdata.isnull().any()]
busdata[null_columns].isnull().sum()

ArrivalTime      234591
DepartureTime    234591
dtype: int64

In [9]:
#del busdata['District']
busdata = busdata.dropna()
busdata = busdata.reset_index(drop=True)
busdata.head()

,LineRef,LocationCode,LocationName,ScheduledArrivalTime,ScheduledDepartureTime,ArrivalTime,DepartureTime,ServiceGroup,NumberStops,StartPoint,EndPoint,Latitude,Longitude
0,1,39028150001,Blagrave Street Stop EP,01/01/2018 07:20,01/01/2018 07:20,01/01/2018 07:11,01/01/2018 07:20,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.457450,-0.970267
1,1,39028170004,Friar Street,01/01/2018 07:21,01/01/2018 07:21,01/01/2018 07:20,01/01/2018 07:21,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.456718,-0.972960
2,1,39027320007,St Mary's Butts,01/01/2018 07:22,01/01/2018 07:22,01/01/2018 07:22,01/01/2018 07:23,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.454010,-0.973827
3,1,39025430002,Castle Street,01/01/2018 07:23,01/01/2018 07:23,01/01/2018 07:24,01/01/2018 07:25,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.452498,-0.976740
4,1,39027180001,Russell Street (Bath Road),01/01/2018 07:24,01/01/2018 07:24,01/01/2018 07:26,01/01/2018 07:27,Jet Black,72,Blagrave Street Stop EP,Bus Station Bay A,51.450775,-0.983340

In [10]:
null_columns = busdata.columns[busdata.isnull().any()]
busdata[null_columns].isnull().sum()

Series([], dtype: float64)

In [11]:
busdata.shape

(3451493, 13)

In [18]:
busdata[busdata["LineRef"] == "19"]

Empty DataFrame
Columns: [LineRef, LocationCode, LocationName, ScheduledArrivalTime, ScheduledDepartureTime, ArrivalTime, DepartureTime, ServiceGroup, NumberStops, StartPoint, EndPoint, Latitude, Longitude]
Index: []

In [17]:
busdata = busdata[busdata.LineRef != '19']

In [19]:
busdata.shape

(2895860, 13)

In [22]:
busdata = busdata.reset_index(drop=True)

In [23]:
busdata.head()

,LineRef,LocationCode,LocationName,ScheduledArrivalTime,ScheduledDepartureTime,ArrivalTime,DepartureTime,ServiceGroup,NumberStops,StartPoint,EndPoint,Latitude,Longitude
0,3,39028140001,Station Road Stop SA,2018-01-02 05:50:00,2018-01-02 05:50:00,2018-01-02 05:47:42,2018-01-02 05:50:25,Leopard,56,Station Road Stop SA,Broad Street E-bound,51.458133,-0.972295
1,3,39026630001,Market Place,2018-01-02 05:52:00,2018-01-02 05:52:00,2018-01-02 05:52:13,2018-01-02 05:52:37,Leopard,56,Station Road Stop SA,Broad Street E-bound,51.456003,-0.969393
2,3,39025920003,Kings Road,2018-01-02 05:53:00,2018-01-02 05:53:00,2018-01-02 05:52:49,2018-01-02 05:53:17,Leopard,56,Station Road Stop SA,Broad Street E-bound,51.454987,-0.968307
3,3,39026410003,Huntley and Palmers,2018-01-02 05:54:00,2018-01-02 05:54:00,2018-01-02 05:53:39,2018-01-02 05:53:40,Leopard,56,Station Road Stop SA,Broad Street E-bound,51.454953,-0.963458
4,3,39025980003,Eldon Road adj 11,2018-01-02 05:55:00,2018-01-02 05:55:00,2018-01-02 05:55:11,2018-01-02 05:55:12,Leopard,56,Station Road Stop SA,Broad Street E-bound,51.452627,-0.958588

In [24]:
busdata.tail()

,LineRef,LocationCode,LocationName,ScheduledArrivalTime,ScheduledDepartureTime,ArrivalTime,DepartureTime,ServiceGroup,NumberStops,StartPoint,EndPoint,Latitude,Longitude
2895855,26,30053640002,Ledbury Drive,2018-06-01 00:09:00,2018-06-01 00:09:00,2018-06-01 00:11:43,2018-06-01 00:11:43,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.440298,-1.041902
2895856,26,30054700001,Pemberton Gardens,2018-06-01 00:09:30,2018-06-01 00:09:30,2018-06-01 00:12:06,2018-06-01 00:12:06,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.440653,-1.044642
2895857,26,30050400001,Beansheaf Stores,2018-06-01 00:10:00,2018-06-01 00:10:00,2018-06-01 00:12:36,2018-06-01 00:12:36,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.440363,-1.047670
2895858,26,30056320002,Torcross Grove,2018-06-01 00:10:30,2018-06-01 00:10:30,2018-06-01 00:13:13,2018-06-01 00:13:13,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.439408,-1.052883
2895859,26,30053940001,Mayfield Avenue,2018-06-01 00:11:00,2018-06-01 00:11:00,2018-06-01 00:13:33,2018-06-01 00:13:33,Yellow,30,Blagrave Street stop EK,"Calcot, Sainsbury's",51.440945,-1.057398

In [25]:
busdata['ScheduledArrivalTime'] = busdata['ScheduledArrivalTime'].astype('datetime64[ns]') 
busdata['ScheduledDepartureTime'] = busdata['ScheduledDepartureTime'].astype('datetime64[ns]') 
busdata['ArrivalTime'] = busdata['ArrivalTime'].astype('datetime64[ns]') 
busdata['DepartureTime'] = busdata['DepartureTime'].astype('datetime64[ns]')

In [26]:
busdata.to_csv('BusData1.csv', header=True, index=False)